.cardDashboardContainer {
    margin: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.titutoDashboard {
    color: white;
    width: fit-content;
}

.subtituloDashboard {
    width: 800px;
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: var(--cinzaClaro);
    text-align:center;
}

.tituloAtivos {
    margin: 140px 70px 0;
    font-size: 3.33em;
    
}


.cardDashboardUsuariosAtivos {
    background-color: var(--cinzaClaro);
    padding: 35px 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.Retangulo{
    background-image: url(../../assets/skate.jpg);
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
    margin-bottom: 140px;
}

.Retangulo div{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}