* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--cinzaEscuro);
  font-family: "Inter", sans-serif;
}



:root {
  --claro: #FAE9CD;
  --escuro: #443A2E;
  --medio: #633A21;
  --cinzaClaro: #BFC3BD;
  --cinzaMedio: #92948C;
  --cinzaEscuro: #3D403B;
}

a:link {
  color: inherit;
  /* Mantém a cor padrão do texto */
  text-decoration: none;
  /* retira sublinhado dos links */
}

a:visited {
  color: inherit;
  /* Mantém a cor padrão do texto */
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5em;
  font-weight: 900;
}