.NavBar{
    /* width: 100vw; */
    height: 80px;
    line-height: 80px;
    padding: 0 70px 0 70px;

    font-weight: 700;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    
    color: white;

    display: flex;
    justify-content: space-between;

    background-color: var(--medio);
}

.NavBar div{
    display: flex;
    gap: 40px;
    font-weight: 400;
}

.NavBar p{
    cursor: pointer;
    color: var(--claro);
}



.LogoHeader {
    width: 70px;
    background-image: url(../../../assets/laurelAmarelo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

